.textInput {
    position: relative;
    margin-bottom: 4rem;
    border-radius: 12px;
    height: 3rem;
    //box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;

    span {
        margin-bottom: 0.5rem;
        font-size: 1rem;
        font-weight: bold;
        //padding-left: 1rem;
        display: block;
    }

    input {
        width: 20rem;
        height: 2rem;
        border: none;
        border-radius: 8px;
        outline: 1px solid #ccc;
        font-size: 1rem;
        padding-left: 0.5rem;
        padding-right: 00.5rem;
        background: fff;
        color: #000;
        display: inline;
    }


    .error{
        position: relative;
        top: -2rem;
        left: -1rem;
    }
}
