// .card {
//   width: 200px;
//   height: 300px;
//   background-color: rgba(255, 255, 255, 0);
//   white-space: nowrap;

.card {
  width: 200px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0);
  white-space: nowrap;

  .card_poster {
   width: 200px;
   height: 300px;
   background-color: transparent;
    display: inline-block;

    img {
      width: 100%;
      object-fit: contain;
      border-radius: 32px;
      cursor: pointer;
    }

    &:hover {
      img {
        filter: brightness(1.1);
        //transition: all 0.5s ease;
      }

      & + .card_info {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .card_info {
    visibility: hidden;
    white-space: pre-line;
    display: inline-block;
    height: 300px;
    width: 200px;
    vertical-align: top;
    padding: 10px;
    border-radius: 0px 32px 32px 0px;
    margin-left: 0px;
    margin-right: 10px;
    //width: 300%;
    margin-top: 0px;
    background-color: rgba(250, 250, 250, 0.98);
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 80px -25px rgba(0, 0, 0, 0.3);
  }
}

.card:hover {
  transform: scale(1.08);
  transition: all 0.5s ease-in-out;
}

.duration {
  display: inline-block;
  margin-top: 1px;
  color: #555;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.genre {
  display: inline-block;
  color: #959595;
  margin-left: 10px;
}

.description {
  display: inline-block;
  color: #959595;
  margin-left: 10px;
  padding-right: 8px;
  text-overflow: ellipsis;
}