
.directorInfo{
    float: left;
    width: 50%;
    height: 20rem;
    display: inline;
    padding-left: 3rem;
}

.bio{
    width: 50%;
    height: 20rem;
    float: right;
    display: inline;
    padding-left: 2rem;
    border-left: 1px solid black;
}

.bio h3{
    text-align: center;
}

.filmRomCont{
    display: inline;
}