$shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
  rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
$box_background: rgb(255, 255, 255, 0.9);
$border_rad: 0.5rem;


.container{
    text-align: center;
    max-width: 950px;
}

.buttonBar{
    text-align: center;
    display: inline-block;
}

.buttonBar p{
    border-radius: $border_rad;
    background-color: $box_background;
    min-height: 3rem;
    box-shadow: $shadow;
    width: 12rem;
    padding: 1rem;
    cursor: pointer;
}

.buttonBar p:hover{
    font-weight: 500;
}