.navbar{
    padding: 20px;
    width: 100%;
}


.logo{
    width: 12rem;
    float: left;
    padding: 12px;
    line-height: 25px;
    border-radius: 4px;
}

.filter{
    float: right;
    padding-top: 1rem;
}


.smallScreen{
    display: none;
}


.menuButton{
    position: relative;
    top: 5px;
    background-color: #0D395F;
    border: none;
    padding: 5px;
}

.menuButton div{
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

.dropDownList{
    padding-left: 0px;
    list-style: none;
    position: absolute;
    right: 0rem;
    background-color: #f1f1f1;
    min-width: 50px;
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropDownList li {
    padding: 1rem;
}

.dropDownContainer{
    display: none;
}

.dropDownContainerShow{
    display: block;

}

.dropdown{
    position: relative;
    display: inline-block;
}

.filterCrit{
    padding-right: 3rem;
}

.filterCrit:hover .dropdownContainer {
    display: block;
}

.icon{
    vertical-align: middle;
    height: 1.4em;

}

.dropdownContainer{
    display: none;
    position: absolute;
    background-color: rgba(241, 241, 241,0.7);
    backdrop-filter: blur(1px);
    border-radius: 12px;
    text-transform: capitalize;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

.dropdownContainer a{
    color: black;
    margin-right: 12px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdownContainer a:hover{
    margin-right: 4px;
    margin-left: 4px;
    font-weight: 500;
}


@media screen and (max-width: 840px) {
    .bigScreen{
        display: none;
    }

    .smallScreen{
        position: relative;
        display: inline-block;
        top: -7px;
    }
}

