.navbar{
    padding: 20px;
    width: 100%;
}


.logo{
    width: 12rem;
    float: left;
    padding: 12px;
    line-height: 25px;
    border-radius: 4px;
}

.filter{
    float: right;
    padding-top: 1rem;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.filterCrit{
    padding-right: 3rem;
}

.filterCrit:hover .dropdownContainer {
    display: block;
}

.icon{
    vertical-align: middle;
    height: 1.4em;

}

.dropdownContainer{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 12px;
    text-transform: capitalize;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    opacity: 0.85;
}

.dropdownContainer a{
    color: black;
    margin-right: 12px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdownContainer a:hover{
    margin-right: 4px;
    margin-left: 4px;
    font-weight: 500;
}


.dropdown{

}



.searchbar{
    
}