@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

.background{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

.background{
    background: linear-gradient(rgb(255,255,255,0), grey, white);
    font-family: ‘Montserrat’, helvetica, arial, sans-serif;
    margin-top: 3rem;
    font-weight: 400;
    padding-bottom: 2rem;
    width: 100%;
    height: 100%;
}  


.titleContainer{
    padding-left: 3rem;
    margin-left: 5%;
    margin-bottom: 2rem;
    border: black 1px;
    border-style: solid;
    border-radius: 1rem;
    background-color: rgb(255,255,255,0.5);
    width: 30rem;
}

.title{
    font-size: 2rem;
    margin:1rem 0rem 1rem 0rem;
}

.date{
    font-size: 1rem;
    margin-top:0.25rem;
}



.filmPageBody{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.filmContainer{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    margin-bottom: 3rem;
}

.film{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.overviewContainer{
    text-align: center;
}

.courseContainer{
    margin: 3rem 0rem 2rem 0rem;
    text-align: center;

}

.overview{
    margin: 0rem 1rem 1rem 1rem;
    border: black 1px;
    border-style: solid;
    border-radius: 1rem;
    background-color: rgb(255,255,255,0.5);
}

.overviewText{
    font-family: ‘Montserrat’, helvetica, arial, sans-serif;
}

.contributorsContainer{

}

.contributorsContainer ul {
    margin: 0rem 1rem 0rem 1rem;
    padding: 0rem;
    list-style-type: none;
    text-align: center;
    border: black 1px;
    border-style: solid;
    border-radius: 1rem;
    background-color: rgb(255,255,255,0.5);
    min-height: 20rem;
}

.contributorsContainer h3{
    text-align: center;
    margin-bottom: 0rem;
}

.contributorsContainer li {
    font-family: ‘Montserrat’, helvetica, arial, sans-serif;
    padding-top: 1rem;
}

.directors{
    float: left;
    width: 33.33%;

}


.actors{
    float: left;
    width: 33.33%;
}

.contributors{
    float: left;
    width: 33.33%;
}
