


.row {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

.rowCard {
   //margin-right: 10px;
   //margin-left: 10px;
   margin: 20px;
   
}