@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");

$row-padding: 140px;
$wide-row-padding: 20px;

.container {

  //overflow-x: auto;
  background-color: transparent;
  justify-content: left;



  .row {
    width: 100%;
    margin: 0px;
    padding: 0px;
    padding-right: $row-padding;
    padding-left: $row-padding;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    justify-content: center; //horizontal alignment
    align-items: center; //vertical alignment
  }

  .row_nowrap {
    height: 100%;
    width: 99vw;
    margin: 0px;
    padding: 0px;
    padding-right: $row-padding;
    padding-left: $row-padding;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: transparent;
    justify-content: left;
    align-items: center;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    //chrome & safari
    &::-webkit-scrollbar {
      display: none;
    }

  }


  .wideRow {
    width: 100%;
    margin: 0px;
    padding: 0px;
    padding-right: $wide-row-padding;
    padding-left: $wide-row-padding;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    justify-content: center;
    align-items: center;
  }

  .rowCard {
    margin: 24px;
    min-height: min-content; /* needs vendor prefixes */
  }

  .title {
    padding-left: $row-padding;
    font-family: "Montserrat", helvetica, arial, sans-serif;
  }
}
